# CMake build files
/build/
/CMakeFiles/
/CMakeCache.txt
/data/
/out
/MP4_Runs/
/Figures/
/src/
/tests/
/256_diag/
/512_diag/
/runs/
cmake_install.cmake
Makefile

# Executables
*.exe
*.out
*.app
*.mp4



# Python cache
/__pycache__/
*.pyc

#data files
data/out/

# IDE settings
.vscode/
.idea/
*.swp