# CMake build files
/build/
/CMakeFiles/
/CMakeCache.txt
/data/
/out
cmake_install.cmake
Makefile

# Executables
*.exe
*.out
*.app

# Python cache
/__pycache__/
*.pyc

#data files
data/out/
/config


# IDE settings
.vscode/
.idea/
*.swp